<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/products.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    
<%- include('../layouts/navbar') %>


    <!-- Products Section Start -->
    <section class="product-section">
        <div class="div-product-section">

            <!-- Baris Produk Start -->
            <div class="row-product">
                <% products.forEach(function(product) { %>
                    <div class="product-items">
                        <img src="" alt="">
                        <div class="product-info">
                            <div>
                                <p><%= product.nama_barang %></p>
                                <p><%= product.deskripsi_barang %></p>
                            </div>
                            <div>
                                <p>Rp<%= product.harga_barang %>,-</p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <!-- Baris Produk End -->

        </div>
    </section>
    <!-- Products Section End -->


<%- include('../layouts/footer') %>
    
</body>
</html>